# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1");
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8";
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Compare original and gzipped file size
function gz() {
	local origsize=$(wc -c < "$1");
	local gzipsize=$(gzip -c "$1" | wc -c);
	local ratio=$(echo "$gzipsize * 100 / $origsize" | bc -l);
	printf "orig: %d bytes\n" "$origsize";
	printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio";
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

function generateWebFonts () {
	for var in "$@"
	do
	    sfnt2woff $var
	    woff2 $var
	done
}

## Add command to setup iTerm for working on a project
function workOn () {
	ROOT=/Applications/MAMP/htdocs/adagio
	TARGET=""
	HS=""

	# Find out if the folder exists
	if [ -d "$ROOT/adagio/$1" ]
	then
		TARGET=$ROOT/adagio/$1
	elif [ -d "$ROOT/$1" ]
	then
			TARGET=$ROOT/$1
	else
		echo "No such project"
		exit 0
	fi

	# Go to the folder
	echo "Moving to $TARGET"
	cd $TARGET
	clear

	# Find out if there is a Headstart folder
	if [ -d "$TARGET/headstart" ]
	then
		HS=$TARGET/headstart
	elif [ -d "$TARGET/private" ]
	then
		HS=$TARGET/private
	elif [ -f "$TARGET/config.json" -o -f "$TARGET/.headstartrc" ];
	then
		HS=$TARGET
	else
		echo "No Headstart executable found"
		exit 0
	fi

	# Make a new tab
	osascript 2>/dev/null <<EOF
      tell application "iTerm" to activate
      tell application "System Events"
        tell process "iTerm"
          tell menu item "Split Vertically With Current Profile" of menu "Shell" of menu bar item "Shell" of menu bar 1
            click
          end tell
        end tell
        keystroke "cd $HS;"
        keystroke return
        keystroke "clear; hs build --s;"
        keystroke return
      end tell
EOF
	# osascript ~/.bin/iterm-tab
}